alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"
alias x="exit"

alias ag="ag -i -S"

alias g=git
alias gti=git
alias gpg1=/usr/local/bin/gpg
alias gpg=/usr/local/bin/gpg2
alias h=history
alias v=vim
alias vi=vim
alias vim="nvim -p"
alias ls="ls -G"
alias la="ls -alsG"
alias sites='cd ~/Sites'
function pgrep() { ps aux | sed -e "1p" -e "/$@/!d" | grep -v "\!d$" }

# vagrant aliases
alias vg=vagrant
alias vgs="vagrant ssh"
alias vgu="vagrant up"
alias vgd="vagrant destroy -f"

function slow() { awk '{if (system("sleep '${1:-.3}' && exit 2") != 2) exit; print}' }
alias colours='for i in {0..255}; do printf "%s \x1b[38;5;${i}mcolour${i}\x1b[0m\n" $i; done'
