alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"
alias x="exit"

alias g="git"
alias v=vim
alias vi=vim
alias vim="vim -p"
alias ls="ls -G"
alias la="ls -alsG"
alias sites='cd ~/Sites' 
alias tmux="TERM=xterm-256color tmux"
alias ios='open -a /Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app/'

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
