[user]
  name = Drew Stokes
  email = drew@drewstokes.com

[color]
  branch = auto
  status = auto
  interactive = auto
  ui = always

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = tab-in-indent,tabwidth=2
  pager = "less -FXRS -x2"

[github]
  user = dstokes

[alias]
  a = add
  c = commit
  d = diff -w
  l = log
  p = pull --rebase
  s = status -sb

  br = branch
  ca = commit -a
  cm = commit -m
  co = checkout
  cp = cherry-pick
  dc = diff -w --cached
  ft = fetch --tags
  lp = log -p
  lt = !git log --author=drew --pretty=format:'%C(yellow)%h%C(reset)|%ad|%s' \
        --date relative --since 1am | awk '{print $0"\n"}' | column -t -s '|'
  pm = !git checkout master && git pull
  po = push origin HEAD
  pw = push web HEAD
  # git `resolve conflict`
  rc = !"vim -p `git s | grep UU | awk '{print $2}'`"

  cam = commit -am

  su = submodule update --recursive
  sui = submodule update --init --recursive
  lol = !git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  # open git github url for the current repo
  hub = !open `git config --get remote.origin.url | sed 's/:/\\//' | sed 's/git@\\(.*\\)\\.git$/http:\\/\\/\\1/'`
  root = !git rev-parse --show-toplevel
  stale = remote prune origin --dry-run

  # git close [branchname] :: deletes the branch locally and on origin
  close = !sh -c 'git br -d $1 && git push origin :$1' -
  publish = !sh -c 'npm version $1 && git push origin HEAD && git push --tags && npm publish' -

[web]
  browser = open
